body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
}
h1{
    color: rgb(46, 56, 77);
    font-size: 60px;
}
h2{
    color: rgb(46, 56, 77);
    font-size: 30px;
}
p{
    color: darkslategray;
}

section{
    height: 500px;
    padding-bottom: 60px;
    
    
}

.orange-highlight{
    color:rgb(248, 98, 81);
}



.half-width{
    width: 40%;
    float: left;
    
    margin: 0%;
    padding: 2%;
    
} 

.position{
    padding-left: 50px ;
}
#first-image{
    width: 100%;
   padding-left: 120px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,salmon);
    padding: 15px 40px;
    font-weight: 400;
    border-radius: 5px;
    color: white;
}

.about-area{
    width: 40%;
    float: left;
    
    margin-left:0%;
    padding-left: 2%;
}
.about-area img{
    width: 100%;
    
}

.second-position{
    padding-left: 150px;

}

.working-area{
    background-color:rgba(137, 170, 170, 0.055);
    height: 600px;
    padding-bottom: 60px;
}

.third-width{
    width: 24%;
   float: left;
   margin-left: 5%;
    padding: 1%;
    background-color: white;
    border: 4px solid white;
    border-radius: 16px;
}

.inq-area{
    margin-left: 0%;
    width: 900px;
    height:700px;
       
}

.last-bg{
    width: 35%;
    float: left;
    margin-left: 10%;
    
    
}
#last-button{
    padding-top: 20%;
}
